body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.test-area {
  padding:30px 100px;
  display: flex;
  flex-direction: row;

}
.list-title {
  width: 200px;
  text-align: left;
}
.test-area-col {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding:20px 30px;
    text-align: left;
}
.btn-row {
  display: flex;
  flex-direction: row;
}

.dark-background {
  padding: 20px;
  background-color: darkslategray;
}